<nav class="navbar " id="nav1">
  <style>
    #nav1{
      background-color: black;
      text-decoration-color: white;
    }
    .nav2{
      color: white;
      font-size: x-large;
      padding-top: 20px;
      padding-bottom: 20px;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bolder;
    }
  </style>
  
 
  <div class="container ">
    <a class="nav2 ">Rubik's Cube Solver</a>
    
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>

  
</nav>